/*
Theme Name: Divi Child
Author: Ken Shoufer ken-shoufer.com
Template: Divi
*/

@import url(../Divi/style.css);

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

#blog_title {
    padding-bottom: 20px;
    line-height: 1em;
    display: block;
    width: 40%;
    margin-bottom: -30px;
}

#blog_tagline {
    font-size: .4em;
    color: #555;
    padding-bottom: 10px;
}

#title-text  {
    display: inline;
    width: 30%;
}    

#title-text a {
  font-size: 3em;
  color: #082fff;
} 


#top-menu ul li a {
    color: #555 !important;
}

#top-menu {
    width: 100%;
}

.nav li ul {
    padding: 0;
}

#main-content {
    margin-top: 40px;
}


#divider1 {
    padding: 0;
    background-repeat: repeat-x;
    background-size: auto;
    height: 60px;
}

#main-slider-box {
    -webkit-box-shadow: inset 0px 0px 9px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 0px 9px 1px rgba(0,0,0,0.75);
    box-shadow: inset 0px 0px 9px 1px rgba(0,0,0,0.75);
}

#main-slider #soliloquy-container-28 {
    -webkit-box-shadow: 0px 24px 22px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 24px 22px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 24px 22px 0px rgba(0,0,0,0.75);
    margin: auto;
}

#main-slider .soliloquy-prev, #main-slider .soliloquy-next {
    display: none;
}

.et_pb_text {
    min-height: 150px;
}

#main-header {
    background-color: #fff;
}

#top-menu ul li a {
    color: #fff;
}

.sub-menu a {
    color: #000077 !important;
}


#top-menu ul li a:hover {
    text-decoration: underline;
    color: #fff;
}

#et_top_search {
    display: none;
}

#logo_mobile {
    display: none;
}

#main-footer {
    background-color: #082fff !important;
}

#footer-info, #footer-info a  {
    color: #fff;
}

.et-social-icon a {
    color: #fff;
}

#content-area table td, #content-area table th {
    padding: 0 .5em .5em 0;
}

.entry-content tr td {
    border-top: 1px solid #EEE;
    padding: 0; 
}

#et_mobile_nav_menu {
    margin: 20px 20px 0 0;
}

#content-title1 {
    color: #082fff;
    font-size: 2.5em;
    display: block;
}

#content-title2 {
    color: #999;
    font-size: 1.3em;
    display: block;
    margin: 20px 0 20px 0;
}

#content-title3 {
    color: #00A600;
    font-size: 1.3em;
    display: block;
    margin: 0;
}

#main-content-box {
    margin: -80px 0 0 0;
}

.et_pb_column_1_4 {
    margin: 5px;
    width: auto;
}

#image3 {
    height: 200px;
    margin-left: -10px;
}

#nav_menu-2 .sub-menu {
    display: none;
}

#nav_menu-2 ul {
    width: 200px;
}

#nav_menu-2 ul li {
    border-bottom: 1px solid #fff;
}

#quotearea {
    width: 200px;
    height: 200px;
}


/***********media queries**************************/

/*-------------------[768px to 980px]------------------*/
@media only screen and ( min-width: 768px ) and ( max-width: 980px ) {

#main-content {
    margin-top: 80px;
}

.mobile_menu_bar:before {
    content: "b";
}

#et-top-navigation {
    margin-top: -40px;
}

#mobile_menu {
top: 80px;
}


}/***********end media 768 to 980*************/

/*-------------------[768px]------------------*/
@media only screen and ( max-width: 980px ) {

#main-content {
    margin-top: 100px;
}

.mobile_menu_bar:before {
    content: "b";
}

#et-top-navigation {
    margin-top: -80px;
}

#mobile_menu {
top: 80px;
}

#main-slider-box {
    height: 180px;    
}


}/***********end media 768*************/

/*-------------------[479px]------------------*/
@media only screen and ( max-width: 479px ) {

#main-content {
    font-size: 1.5em;
    line-height: 1.5em;
    margin-top: 120px;
}

#main-header {
    background-color: #efefef !important;
}

.mobile_menu_bar:before {
    content: "b";
}

.page {
    margin: 10px 0 0 0;
}

#main-slider-box {
display: none;
}

#et-top-navigation {
    margin-top: -60px;
}

#mobile_menu {
top: 90px;
}

#divider1 {
display: none;
}

#blog_title {
display: inline;
width: 60%;
}

#blog_tagline {
padding-bottom: 0;
font-size: .4em;
line-height: 1em;
width: 60%;
}


bgmp_map-canvas {
width: 300px !important;
height: 250px !important;
}

 
#et_mobile_nav_menu {
    margin: -40px 10px 0 0;
}

#title-text  {
    width: 50%;
    clear: both;
    display: block;
    line-height: 1em;
}    


#title-text a {
    font-size: 1.8em;
}

#content-title1 {
    color: #082fff;
    font-size: 1.5em;
    display: block;
}

#content-title2 {
    color: #999;
    font-size: .8em;
    display: block;
    margin: 20px 0 0 20px;
}

#content-title3 {
    color: #00A600;
    font-size: .8em;
    display: block;
    margin: 0;
}

.et_pb_column_1_4 {
    margin: 5px;
    width: 250px;
}

#image3 {
    height: 200px;
    margin-left: 0;
}

.quotes {
   font-size: 1.5em;
}

}/***********end media 479*************/
